GITHUB_APP_IDENTIFIER=123456
GITHUB_PRIVATE_KEY_PATH=./github-private-key.pem
GITHUB_WEBHOOK_SECRET=my_super_secure_webhook_secret
DEBUG=True

# AI Engine settings (Use http://ollama:11434/api/generate inside docker)
OLLAMA_API_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3
